<!-- Child -->
<div class="line" *ngIf="!line.lines || line.lines && !line.lines.length">
	<button (click)="removeSelf()"><img src="assets/remove.svg" alt="remove"></button>
	<button (click)="add()"><img src="assets/add.svg" alt="add"></button>
	<button (click)="leftSelf()"><img src="assets/left.svg" alt="left"></button>
	<button (click)="upSelf()"><img src="assets/up.svg" alt="up"></button>
	<button (click)="downSelf()"><img src="assets/down.svg" alt="down"></button>
	<button (click)="rightSelf()"><img src="assets/right.svg" alt="right"></button>
	<input
		[(ngModel)]="line.title"
		(change)="titleChanged($event)"
		(keyup)="titleChanged($event)"
	>
	<span> : </span>
	<input
		[(ngModel)]="line.time"
		(change)="timeChanged($event)"
		(keyup)="timeChanged($event)"
	>
	<input
		[(ngModel)]="line.difficulty"
		>
	<span> : </span>
	<span>{{line.price}} €</span>
</div>
<!-- Parent -->
<div class="line" *ngIf="line.lines && line.lines.length">
	<button (click)="removeSelf()"><img src="assets/remove.svg" alt="remove"></button>
	<button (click)="add()"><img src="assets/add.svg" alt="add"></button>
	<button (click)="leftSelf()"><img src="assets/left.svg" alt="left"></button>
	<button (click)="upSelf()"><img src="assets/up.svg" alt="up"></button>
	<button (click)="downSelf()"><img src="assets/down.svg" alt="down"></button>
	<button (click)="rightSelf()"><img src="assets/right.svg" alt="right"></button>
	<input
		[(ngModel)]="line.title"
		(change)="titleChanged($event)"
		(keyup)="titleChanged($event)"
	>
	<span> : </span>
	<span>{{line.price}}€</span>
</div>
<app-line *ngFor="let lineChild of line.lines; let idChild = index"
	[line]="lineChild"
	[hourlyRate]="hourlyRate"
	[id]=idChild
	[parentLines]="line.lines"
	[parentId]="id"
	(priceUpdated)="childPriceUpdated($event)"
	(removedSelf)="removeChild($event)"
	(uppedSelf)="upChild($event)"
	(downedSelf)="downChild($event)"
	(rightedSelf)="rightChild($event)"
	(leftedSelf)="leftChild($event)"
></app-line>
