:host {
	background: #aaf;
	display: flex;
	flex-direction: row;
	width: 100%;
	height: 100%;
	flex-grow: 1;
}

#json {
	width: 30em;
	height: 100%;
	    display: flex;
    flex-direction: column;
}

#json textarea {
	flex-grow: 1;
	height: 80vh;
}

#saisie {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	overflow: auto;
}
