:host {
	background: #aaf;
	display: flex;
	flex-direction: row;
	width: 100%;
	height: 100%;
	flex-grow: 1;
}

#json {
	width: 20em;
	height: 100%;
	display: flex;
	flex-direction: column;
}

#json textarea {
	flex-grow: 1;
	height: 80vh;
}

#saisie {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	overflow: auto;
}
td {
	padding: 0 0.5em;
}

#features {
	overflow: auto;
}

#cfr {
	background: #ddf;
}

th {
	background: rgb(60,120,216);
	color: rgb(255,255,255);
	padding: 0.25em 0.5em;
	text-align: left;
}

.centered {
	text-align: center;
}

table {
	background: #fff;
	border-collapse: collapse;
	border-color: rgb(164, 194, 244);
}

.warning {
	background: rgba(255,0,0,0.5);
}
